
<div id="container">

  <div id="centerColumn">
    <span class="rightHeader">Change your info:</span>
    <p>
      <form method="POST" action="/change-profile-success">
        <p><label for="username"> Username</label>
        <input type="text" value=<%= current_user.username %> name="username"></p>
        <p><label for="password">Password</label>
        <input type="password" value=<%= current_user.password %> name="password"></p>
        <p><label for="email">Email</label>
        <input type="text" value=<%= current_user.email %> name="email"></p>
        <p><label for="birthday">Birthday</label>
        <input type="text" value=<%= current_user.birthday %> name="birthday"></p>
        <input type="submit" value="Change my info">
      </form>
    </p>
  </div>
</div>
