<div id="container">

<h3> <p>Welcome to Spice chat!</p>
  <p>This a place where you can let people know if you need to spice up your life!</p>
  </h3>

  <div id="centerColumn">



      <% if current_user %>

      <span class="leftHeader">Welcome back!</span>

        <%else%>


    <p>
    <span class="rightHeader">Sign In!</span>
    </p>
    <form method="POST" action="/sign_in">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
  </p>
    <input type="submit">
    </form>
    <H2> Not yet a member? <a href ="/sign_up"> Sign up!</a></H2>
    <div id="signInHeader">
      <h1>





        <% end %>
    </div>

  </div>
</div>
