<% @users.each do |username, password, email, birthday|
  User.create(username: "username", email: "email", password: "password", birthday: birthday) %>
  <h1> <%= username.username %> </h1>
  <h1><%= username.email %> </h1>
<%end%>