<!DOCTYPE html>
<html>
  <head>
    <title>Spice Chat</title>
    <link rel="stylesheet" type="text/css" href="css/normal.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <header>
  <div id="headerContainer">
    <div id="mainTitle">
      <span id="spice">Spice</span>   <span id="chat">Chat</span>
    </div>
    <div id="signInHeader">
      <h1>


      <% if current_user %>

          Hello <%= current_user.username %> |
          <a href="/fullprofile">profile</a> |
          <a href="/new_post">new post</a> |
          <a href=" /signout">sign out</a> |
          <a href="/delete">delete account</a> |
          <a href="/feed">feed</a>

        </h1>
        <%else%>

          <a href="/sign_in">sign in</a> |
          <a href="/sign_up">sign up</a> |
          <a href="/feed">feed</a>

        <% end %>
    </div>
    </div>
  </div>



    </header>
    <%= yield %>
    <div id="footer">

    </div>
  </body>
</html>
