<form method="POST" action="/sign-up-success">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <label for="email">Email</label>
  <input type="text" name="email">
  <label for="birthday">Birthday</label>
  <input type="text" name="birthday">
  <input type="submit">
</form>

