<form method="POST" action="/sign-up-success">
  <label for="username">Username</label>
  <input type="text" name="[users]username">
  <label for="password">Password</label>
  <input type="password" name="[users]password">
  <label for="email">Email</label>
  <input type="text" name="[users]email">
  <label for="birthday">Birthday</label>
  <input type="text" name="[users]birthday">
  <input type="submit">
</form>


<b>heyy</b>
