<div id="container">


  <div id="centerColumn">


  <p>
  <span class="rightHeader">Sign In!</span>
  </p>

  <p>
    <form method="POST" action="/sign_in">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
  </p>
    <input type="submit">
    </form>

  </div>
</div>
