<form method="POST" action="/sign-up">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <label for="email">email</label>
  <input type="text" name="email">
  <label for="birthdayl">birthday</label>
  <input type="text" name="birthday">
  <input type="submit">
</form>
